@font-face {
    font-family: "Rubic";
    src: url("../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Social Media";
    src: url("../assets/fonts/IconsSocialMedia18-8MRYM.ttf");
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Rubic";
}

body {
    background-color: #202124;
    width: 100%;
}

header {
    margin-bottom: 25% !important;
}

/* BARRA DE NAVEGACIÓN --> CABECERA */  
#navegacion {
    width: 100%;
    height: 10%;
    background-color: blueviolet;
}

.navegacion__ul__li__a {
    color: white;
    padding: 20px;
}

.navegacion__ul__li__a:hover {
    color: white;
}


/* TITULAR --> CABECERA */
#titular {
    margin-top: 10%;
    margin-bottom: 10%;
}


#titular h1 {
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.titulos {
    color: blueviolet;
    font-weight: bold;
}


#imagenPrincipal {
    position: relative;
}

#titular p {
    margin: 0;
}

@media(min-width: 576px) {
    #imagenPrincipal{
        position: absolute;
        left: 60%;
        top: 20%;
        width: 35%;
    }
}
@media(min-width: 768px) {
    #imagenPrincipal{
        position: absolute;
        left: 60%;
        top: 20%;
        width: 30%;
    }
}
@media(min-width: 1200px) {
    #imagenPrincipal{
        position: absolute;
        left: 75%;
        top: 15%;
        width: 20%;
    }
}






/* TARJETAS ->2 SECCIONES */
.contenidoSeccion {
    text-align: center; 
}

.seccion {
    padding-top: 10px;
    background-color: #4D4549;
    border-radius: 10%;
    width: 100%;
    text-decoration: underline;
}

.seccion h2 {
    color: white;
    text-decoration: underline;
    font-size: 2rem;
    overflow: hidden;
    text-decoration-color: blueviolet;
}


.contenidoSeccion p {
    font-size: 1rem;
}
@media(min-width: 576px) {
    .contenidoSeccion p {
        font-size: 0.7rem;
    }
}
@media(min-width: 768px) {
    .contenidoSeccion p {
        font-size: 0.7rem;
    }
}

.imgSeccion {
    width: 50%;
    margin: 20px;
}



/* FOOTER -> SOCIAL MEDIA*/
footer {
    margin-top: 20%;
}
.iconSocialMedia {
    text-decoration: none;
    font-family: "Social Media";
    font-size: 2rem;
    margin-bottom: 1rem !important;
}